In [4]:
import pandas as pd

In [5]:
data = pd.DataFrame({"Artist": ['Swan Mack', 'Caroline Cronin', '2 Weeks Notice', 'Sharikov'],
                     "Genre": ['Indie Pop', 'Pop', 'Country', 'World'],
                     "Number of Songs": [6,8,4,75]})

In [8]:
data.head()

            Artist      Genre  Number of Songs
0        Swan Mack  Indie Pop                6
1  Caroline Cronin        Pop                8
2   2 Weeks Notice    Country                4
3         Sharikov      World               75

In [9]:
data['Number of Songs Updated'] = data['Number of Songs'].apply(lambda x: x+1)

In [10]:
data.head()

            Artist      Genre  Number of Songs  Number of Songs Updated
0        Swan Mack  Indie Pop                6                        7
1  Caroline Cronin        Pop                8                        9
2   2 Weeks Notice    Country                4                        5
3         Sharikov      World               75                       76

In [11]:
data['Project Size'] = data['Number of Songs'].apply(
    lambda x: 'Large' if x > 10 else ('Medium' if x >=5 else 'Small'))

In [12]:
data.head()

,Artist,Genre,Number of Songs,Number of Songs Updated,Project Size
0,Swan Mack,Indie Pop,6,7,Medium
1,Caroline Cronin,Pop,8,9,Medium
2,2 Weeks Notice,Country,4,5,Small
3,Sharikov,World,75,76,Large